### Spark Dataframe Basics

In [1]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("Basics").getOrCreate()

In [4]:
df = spark.read.json("people.json")

In [5]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [6]:
df.printSchema() # age's structure is long

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [7]:
df.columns

['age', 'name']

In [8]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [9]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [10]:
from pyspark.sql.types import (StringType, StructField,
                               IntegerType, StructType)

In [12]:
data_schema = [StructField("age", IntegerType(), True),
              StructField("name", StringType(), True)]

In [14]:
final_struc = StructType(fields = data_schema)

In [15]:
df = spark.read.json("people.json", schema=final_struc)

In [17]:
df.printSchema() # age's structure is integer now

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

21/09/08 08:31:18 WARN Executor: Issue communicating with driver in heartbeater
org.apache.spark.rpc.RpcTimeoutException: Futures timed out after [10000 milliseconds]. This timeout is controlled by spark.executor.heartbeatInterval
	at org.apache.spark.rpc.RpcTimeout.org$apache$spark$rpc$RpcTimeout$$createRpcTimeoutException(RpcTimeout.scala:47)
	at org.apache.spark.rpc.RpcTimeout$$anonfun$addMessageIfTimeout$1.applyOrElse(RpcTimeout.scala:62)
	at org.apache.spark.rpc.RpcTimeout$$anonfun$addMessageIfTimeout$1.applyOrElse(RpcTimeout.scala:58)
	at scala.runtime.AbstractPartialFunction.apply(AbstractPartialFunction.scala:38)
	at org.apache.spark.rpc.RpcTimeout.awaitResult(RpcTimeout.scala:76)
	at org.apache.spark.rpc.RpcEndpointRef.askSync(RpcEndpointRef.scala:103)
	at org.apache.spark.executor.Executor.reportHeartBeat(Executor.scala:996)
	at org.apache.spark.executor.Executor.$anonfun$heartbeater$1(Executor.scala:212)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:1996)
	at org.apache.spark.Heartbeater$$anon$1.run(Heartbeater.scala:46)
	at java.base/java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:515)
	at java.base/java.util.concurrent.FutureTask.runAndReset(FutureTask.java:305)
	at java.base/java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.run(ScheduledThreadPoolExecutor.java:305)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: java.util.concurrent.TimeoutException: Futures timed out after [10000 milliseconds]
	at scala.concurrent.impl.Promise$DefaultPromise.ready(Promise.scala:259)
	at scala.concurrent.impl.Promise$DefaultPromise.result(Promise.scala:263)
	at org.apache.spark.util.ThreadUtils$.awaitResult(ThreadUtils.scala:293)
	at org.apache.spark.rpc.RpcTimeout.awaitResult(RpcTimeout.scala:75)
	... 12 more
21/09/08 08:31:18 WARN NettyRpcEnv: Ignored message: HeartbeatResponse(false)

In [18]:
 df["age"]

Column<'age'>

In [19]:
type(df["age"])

pyspark.sql.column.Column

In [20]:
df.select("age") # returns column

DataFrame[age: int]

In [22]:
df.select("age").show() # returns dataframe that contains a single column

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [23]:
type(df.select("age"))

pyspark.sql.dataframe.DataFrame

In [24]:
df.head()

Row(age=None, name='Michael')

In [26]:
df.head(2)[0]

Row(age=None, name='Michael')

In [27]:
type(df.head(2)[0]) # row object

pyspark.sql.types.Row

In [29]:
df.select(["age", "name"]).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [30]:
df.withColumn("newage", df["age"]).show() #adding new column

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    30|
|  19| Justin|    19|
+----+-------+------+

In [32]:
df.withColumn("double_age", df["age"] * 2).show() #but not permanent

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [33]:
df.withColumnRenamed("age", "my_new_age").show() # withColumnRenamed it is permanent now

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [34]:
df.withColumn("double_age", df["age"] + 2).show() # there is a lot of flexibility

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        32|
|  19| Justin|        21|
+----+-------+----------+

In [35]:
df.createOrReplaceTempView("people")

In [36]:
results = spark.sql("select * from people")

In [37]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [38]:
new_results = spark.sql("select * from people where age =30")

In [39]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+